fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg[binary]
celery
redis
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
python-multipart
minio
httpx
pytest
pytest-asyncio
ruff
